name: "Build Cassandra-Stress"

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "Version of the release"
      java:
        required: false
        description: "Java version"
        type: string
        default: "21"
  workflow_call:
    inputs:
      version:
        required: false
        description: "Version of the release"
        type: string
      java:
        required: false
        description: "Java version"
        type: string
        default: "21"
jobs:
  build:
    name: Build Cassandra-Stress ${{ inputs.version }} for Java ${{ inputs.java }}
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ inputs.java }}
      - name: Setup Ant
        uses: cedx/setup-ant@v6
        with:
          optional-tasks: true
          version: latest
      - name: Install Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y rpm dpkg-dev devscripts debhelper dh-make build-essential

      - name: Artifacts
        run: |
          ant init
          ant \
            -noinput \
            -Dversion=${{ inputs.version }} \
            -Dsource.version=${{ inputs.java }} \
            -Dtarget.version=${{ inputs.java }} \
            -Drelease=true \
            artifacts

          ./scripts/build_deb.sh --version ${{ inputs.version }}
          ./scripts/build_rpm.sh --version ${{ inputs.version }}

          mv build/cassandra-stress-bin.tar.gz build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz
          mv build/cassandra-stress-bin.tar.gz.sha256 build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz.sha256
          mv build/cassandra-stress-bin.tar.gz.sha512 build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz.sha512
          mv build/cassandra-stress-src.tar.gz build/cassandra-stress-src-java${{ inputs.java }}.tar.gz
          mv build/cassandra-stress-src.tar.gz.sha256 build/cassandra-stress-src-java${{ inputs.java }}.tar.gz.sha256
          mv build/cassandra-stress-src.tar.gz.sha512 build/cassandra-stress-src-java${{ inputs.java }}.tar.gz.sha512
          mv build/cassandra-stress_${{ inputs.version }}_all.deb build/cassandra-stress-java${{ inputs.java }}_${{ inputs.version }}_all.deb
          mv build/cassandra-stress-${{ inputs.version }}-1.noarch.rpm build/cassandra-stress-java${{ inputs.java }}-${{ inputs.version }}-1.noarch.rpm
      - uses: actions/upload-artifact@v7
        with:
          name: cassandra-stress-java${{ inputs.java }}
          path: |
            build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz
            build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz.sha256
            build/cassandra-stress-bin-java${{ inputs.java }}.tar.gz.sha512
            build/cassandra-stress-src-java${{ inputs.java }}.tar.gz
            build/cassandra-stress-src-java${{ inputs.java }}.tar.gz.sha256
            build/cassandra-stress-src-java${{ inputs.java }}.tar.gz.sha512
            build/cassandra-stress-java${{ inputs.java }}_${{ inputs.version }}_all.deb
            build/cassandra-stress-java${{ inputs.java }}-${{ inputs.version }}-1.noarch.rpm
