name: "Release"

on:
  push:
    tags:
      - "v*"

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Get Tag
        if: startsWith(github.ref, 'refs/tags/v')
        uses: olegtarasov/get-tag@v2.1.3
        id: version_tag
        with:
          tagRegex: "v(.*)"
  docker:
    needs: ['tag']
    uses: "./.github/workflows/docker.yml"
    with:
      version: '${{ needs.tag.outputs.version }}'
    secrets:
      REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
      REGISTRY: ${{ secrets.REGISTRY }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
  build:
    needs: ['tag']
    uses: "./.github/workflows/build.yml"
    with:
      version: '${{ needs.tag.outputs.version }}'
      latest: true
