name: "Test Distribution"
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      type:
        required: true
        description: "Type of distribution to test (deb or rpm)"
        type: string
      os:
        required: true
        description: "Operating system to run the tests on"
        type: string
      version:
        required: true
        description: "Version of the release"
        type: string
      java:
        required: true
        description: "Java version"
        type: string

jobs:
  test:
    name: "Test ${{ inputs.os }} with Java ${{ inputs.java }}"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v7
        with:
          name: cassandra-stress-java${{ inputs.java }}

      - name: Install
        shell: bash
        run: |
          set -xe

          ./scripts/test-binary.sh \
            ${{ inputs.java }} \
            ${{ inputs.os }} \
            ${{ inputs.version }} \
            ${{ inputs.type }} \
            ${{ github.workspace }} || exit 1
      - name: Run Tests
        run: ./scripts/check-version.sh /tmp/version.log
