name: "Test Cassandra-Stress"

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        java: [ '11' ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Setup Ant
        uses: cedx/setup-ant@v2
        with:
          optional-tasks: true
          version: latest
      - name: Setup
        run: ant init
      - name: Test tests
        run: ant build-test
      - name: Run tests
        run: ant
